header {
	height: 100vh;
	width: 200px;
	display: flex;
	flex-direction: column;
	background-color: blueviolet;
	color: white;
	margin-right: 1rem;
}

.logoHeader {
	margin-bottom: 2rem;
}

header a {
	color: #fff;
	font-size: 1.5rem;
	transition: all ease 0.2s;
	width: 100%;
	height: 100%;
	padding: 1rem 1rem;
	width: calc(100% - 2rem);
}

header a:hover {
	background-color: white;
	color: black;
}

nav {
	display: flex;
	flex-direction: column;

	width: 100%;
}
