body {
	margin: 0px;
	padding: 0px;
	font-family: "Lexend", sans-serif;
	background-color: #9f86c0;
	align-items: center;
	display: flex;
	justify-content: center;
}

* {
	font-family: "Lexend", sans-serif;
}
